@charset "UTF-8";

.recruit {
  padding: 80px 0;
}

.recruit-ttl {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #666;
}

.recruit-txt {
  padding: 20px 0;
}

.recruit-info {
  width: 100%;
  border-collapse: collapse;
}

.recruit-info:not(:last-of-type) {
  margin-bottom: 80px;
}

.recruit-info th {
  background-color: #F2F4F8;
}

.recruit-info th,
.recruit-info td {
  border: 1px solid #666;
  padding: 10px;
}
